<% was_validated = garage.errors.any? %>

<%= form_with(model: garage, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% garage_name_class = "form-control" %>
    <% garage_name_was_invalid = garage.errors.include?(:garage_name) %>

    <% if was_validated %>
      <% if garage_name_was_invalid %>
        <% garage_name_class << " is-invalid" %>
      <% else %>
        <% garage_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :garage_name %>
    <%= f.text_field :garage_name, class: garage_name_class, placeholder: "Enter garage name" %>
    <% if garage_name_was_invalid %>
      <% garage.errors.full_messages_for(:garage_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% maximum_height_class = "form-control" %>
    <% maximum_height_was_invalid = garage.errors.include?(:maximum_height) %>

    <% if was_validated %>
      <% if maximum_height_was_invalid %>
        <% maximum_height_class << " is-invalid" %>
      <% else %>
        <% maximum_height_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :maximum_height %>
    <%= f.text_field :maximum_height, class: maximum_height_class, placeholder: "Enter maximum height" %>
    <% if maximum_height_was_invalid %>
      <% garage.errors.full_messages_for(:maximum_height).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% maximum_width_class = "form-control" %>
    <% maximum_width_was_invalid = garage.errors.include?(:maximum_width) %>

    <% if was_validated %>
      <% if maximum_width_was_invalid %>
        <% maximum_width_class << " is-invalid" %>
      <% else %>
        <% maximum_width_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :maximum_width %>
    <%= f.text_field :maximum_width, class: maximum_width_class, placeholder: "Enter maximum width" %>
    <% if maximum_width_was_invalid %>
      <% garage.errors.full_messages_for(:maximum_width).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% cost_per_hour_class = "form-control" %>
    <% cost_per_hour_was_invalid = garage.errors.include?(:cost_per_hour) %>

    <% if was_validated %>
      <% if cost_per_hour_was_invalid %>
        <% cost_per_hour_class << " is-invalid" %>
      <% else %>
        <% cost_per_hour_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cost_per_hour %>
    <%= f.text_field :cost_per_hour, class: cost_per_hour_class, placeholder: "Enter cost per hour" %>
    <% if cost_per_hour_was_invalid %>
      <% garage.errors.full_messages_for(:cost_per_hour).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% garage_picture_class = "form-control" %>
    <% garage_picture_was_invalid = garage.errors.include?(:garage_picture) %>

    <% if was_validated %>
      <% if garage_picture_was_invalid %>
        <% garage_picture_class << " is-invalid" %>
      <% else %>
        <% garage_picture_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :garage_picture %>
    <%= f.file_field :garage_picture, class: "form-control" %>
    <% if garage_picture_was_invalid %>
      <% garage.errors.full_messages_for(:garage_picture).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = garage.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <% if location_was_invalid %>
      <% garage.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
