<!-- Form reservation start -->
<%= form_with(model: @reservation, local: true) do |f| %>
<!-- Form reservation end -->

  <!-- Label and input for user_id start -->
  <!-- Input for "user_id" start -->
  <%= f.hidden_field :user_id, value: current_user.id %>
  <!-- Input for "user_id" end -->
  <!-- Label and input for user_id end -->

  <!-- Label and input for garage_id start -->
  <!-- Input for garage_id start -->
  <%= f.hidden_field :garage_id, value: @garage.id %>
  <!-- Input for garage_id end -->
  <!-- Label and input for garage_id end -->

  <!-- Label and input for start_date start -->
  <div class="form-group">
    <%= f.label :start_date %>
    <!-- Input for start_date start -->
    <%= f.datetime_select :start_date, class: "form-control" %>
    <!-- Input for start_date end -->
  </div>
  <!-- Label and input for start_date end -->

  <!-- Label and input for end_time start -->
  <div class="form-group">
    <%= f.label :end_time %>

    <!-- Input for end_time start -->
    <%= f.date_select :end_time, class: "form-control" %>
    <!-- Input for end_time end -->
  </div>
  <!-- Label and input for end_time end -->

  <%= f.submit "Create reservation", class: "btn btn-block btn-outline-secondary" %>
<% end %>
