<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for license_plate_number start -->
  <div class="form-group">
    <% license_plate_number_class = "form-control" %>
    <% license_plate_number_was_invalid = user.errors.include?(:license_plate_number) %>

    <% if was_validated %>
      <% if license_plate_number_was_invalid %>
        <% license_plate_number_class << " is-invalid" %>
      <% else %>
        <% license_plate_number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :license_plate_number %>
    <!-- Input for license_plate_number start -->
    <%= f.text_field :license_plate_number, class: license_plate_number_class, placeholder: "Enter license plate number" %>
    <!-- Input for license_plate_number end -->
    <% if license_plate_number_was_invalid %>
      <% user.errors.full_messages_for(:license_plate_number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for license_plate_number end -->
  <!-- Label and input for vehicle_id start -->
  <div class="form-group">
    <% vehicle_class = "form-control" %>
    <% vehicle_was_invalid = user.errors.include?(:vehicle) %>

    <% if was_validated %>
      <% if vehicle_was_invalid %>
        <% vehicle_class << " is-invalid" %>
      <% else %>
        <% vehicle_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :vehicle_id %>
    <!-- Input for vehicle_id start -->
    <%= f.collection_select :vehicle_id, Vehicle.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for vehicle_id end -->
    <% if vehicle_was_invalid %>
      <% user.errors.full_messages_for(:vehicle).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for vehicle_id end -->
  <!-- Label and input for location start -->
  <div class="form-group">
    <% location_class = "form-control" %>
    <% location_was_invalid = user.errors.include?(:location) %>

    <% if was_validated %>
      <% if location_was_invalid %>
        <% location_class << " is-invalid" %>
      <% else %>
        <% location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :location %>
    <!-- Input for location start -->
    <%= f.text_field :location, class: location_class, placeholder: "Enter location" %>
    <!-- Input for location end -->
    <% if location_was_invalid %>
      <% user.errors.full_messages_for(:location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for location end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
