<% was_validated = reservation.errors.any? %>

<%= form_with(model: reservation, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for user_id start -->
  <div class="form-group">
    <% user_class = "form-control" %>
    <% user_was_invalid = reservation.errors.include?(:user) %>

    <% if was_validated %>
      <% if user_was_invalid %>
        <% user_class << " is-invalid" %>
      <% else %>
        <% user_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_id %>
    <!-- Input for user_id start -->
    <%= f.number_field :user_id, class: user_class, placeholder: "Enter user" %>
    <!-- Input for user_id end -->
    <% if user_was_invalid %>
      <% reservation.errors.full_messages_for(:user).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for user_id end -->
  <!-- Label and input for garage_id start -->
  <div class="form-group">
    <% garage_class = "form-control" %>
    <% garage_was_invalid = reservation.errors.include?(:garage) %>

    <% if was_validated %>
      <% if garage_was_invalid %>
        <% garage_class << " is-invalid" %>
      <% else %>
        <% garage_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :garage_id %>
    <!-- Input for garage_id start -->
    <%= f.number_field :garage_id, class: garage_class, placeholder: "Enter garage" %>
    <!-- Input for garage_id end -->
    <% if garage_was_invalid %>
      <% reservation.errors.full_messages_for(:garage).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for garage_id end -->
  <!-- Label and input for start_date start -->
  <div class="form-group">
    <% start_date_class = "form-control" %>
    <% start_date_was_invalid = reservation.errors.include?(:start_date) %>

    <% if was_validated %>
      <% if start_date_was_invalid %>
        <% start_date_class << " is-invalid" %>
      <% else %>
        <% start_date_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :start_date %>
    <!-- Input for start_date start -->
    <%= f.datetime_select :start_date, class: start_date_class, placeholder: "Enter start date" %>
    <!-- Input for start_date end -->
    <% if start_date_was_invalid %>
      <% reservation.errors.full_messages_for(:start_date).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for start_date end -->
  <!-- Label and input for end_time start -->
  <div class="form-group">
    <% end_time_class = "form-control" %>
    <% end_time_was_invalid = reservation.errors.include?(:end_time) %>

    <% if was_validated %>
      <% if end_time_was_invalid %>
        <% end_time_class << " is-invalid" %>
      <% else %>
        <% end_time_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :end_time %>
    <!-- Input for end_time start -->
    <%= f.time_select :end_time, class: end_time_class, placeholder: "Enter end time" %>
    <!-- Input for end_time end -->
    <% if end_time_was_invalid %>
      <% reservation.errors.full_messages_for(:end_time).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for end_time end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
