<%= form_with(model: @user, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :email %>

    <%= f.text_field :email, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :password %>

    <%= f.text_field :password, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :license_plate_number %>

    <%= f.text_field :license_plate_number, class: "form-control" %>
  </div>

  <%= f.hidden_field :vehicle_id, value: @vehicle.id %>

  <div class="form-group">
    <%= f.label :location %>

    <%= f.text_field :location, class: "form-control" %>
  </div>

  <%= f.submit "Create user", class: "btn btn-block btn-outline-secondary" %>
<% end %>
