<% was_validated = vehicle_type.errors.any? %>

<%= form_with(model: vehicle_type, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% make_class = "form-control" %>
    <% make_was_invalid = vehicle_type.errors.include?(:make) %>

    <% if was_validated %>
      <% if make_was_invalid %>
        <% make_class << " is-invalid" %>
      <% else %>
        <% make_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :make %>
    <%= f.text_field :make, class: make_class, placeholder: "Enter make" %>
    <% if make_was_invalid %>
      <% vehicle_type.errors.full_messages_for(:make).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% model_class = "form-control" %>
    <% model_was_invalid = vehicle_type.errors.include?(:model) %>

    <% if was_validated %>
      <% if model_was_invalid %>
        <% model_class << " is-invalid" %>
      <% else %>
        <% model_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :model %>
    <%= f.text_field :model, class: model_class, placeholder: "Enter model" %>
    <% if model_was_invalid %>
      <% vehicle_type.errors.full_messages_for(:model).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% width_class = "form-control" %>
    <% width_was_invalid = vehicle_type.errors.include?(:width) %>

    <% if was_validated %>
      <% if width_was_invalid %>
        <% width_class << " is-invalid" %>
      <% else %>
        <% width_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :width %>
    <%= f.text_field :width, class: width_class, placeholder: "Enter width" %>
    <% if width_was_invalid %>
      <% vehicle_type.errors.full_messages_for(:width).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% height_class = "form-control" %>
    <% height_was_invalid = vehicle_type.errors.include?(:height) %>

    <% if was_validated %>
      <% if height_was_invalid %>
        <% height_class << " is-invalid" %>
      <% else %>
        <% height_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :height %>
    <%= f.text_field :height, class: height_class, placeholder: "Enter height" %>
    <% if height_was_invalid %>
      <% vehicle_type.errors.full_messages_for(:height).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
