<div class="row">
  <div class="offset-md-3 col-md-6">
    <div class="card mb-3">
      <h5 class="card-header">
        <%= resource_name != "user" ? resource_name.to_s.titleize : "" %> Sign Up
      </h5>

      <div class="card-body">
        <% was_validated = resource.errors.any? %>
        <!-- Form html options start -->
        <% form_html_options = { novalidate: true, class: "mb-3" } %>
        <!-- Form html options end -->
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: form_html_options) do |f| %>

          <div class="form-group">
            <% email_was_invalid = resource.errors.include?(:email) %>

            <% email_class = "form-control" %>

            <% if was_validated %>
              <% if email_was_invalid %>
                <% email_class << " is-invalid" %>
              <% else %>
                <% email_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :email %>

            <%= f.email_field :email, class: email_class, autofocus: true %>

            <% if email_was_invalid %>
              <% resource.errors.full_messages_for(:email).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% password_was_invalid = resource.errors.include?(:password) %>

            <% password_class = "form-control" %>

            <% if was_validated %>
              <% if password_was_invalid %>
                <% password_class << " is-invalid" %>
              <% else %>
                <% password_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :password %>

            <%= f.password_field :password, class: password_class %>

            <% if password_was_invalid %>
              <% resource.errors.full_messages_for(:password).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>

          <div class="form-group">
            <% password_confirmation_was_invalid = resource.errors.include?(:password_confirmation) %>

            <% password_confirmation_class = "form-control" %>

            <% if was_validated %>
              <% if password_confirmation_was_invalid %>
                <% password_confirmation_class << " is-invalid" %>
              <% else %>
                <% password_confirmation_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :password_confirmation %>

            <%= f.password_field :password_confirmation, class: password_confirmation_class %>

            <% if password_confirmation_was_invalid %>
              <% resource.errors.full_messages_for(:password_confirmation).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>


          <!-- Devise Input for license_plate_number start -->
          <div class="form-group">
            <% license_plate_number_was_invalid = resource.errors.include?(:license_plate_number) %>

            <% license_plate_number_class = "form-control" %>

            <% if was_validated %>
              <% if license_plate_number_was_invalid %>
                <% license_plate_number_class << " is-invalid" %>
              <% else %>
                <% license_plate_number_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :license_plate_number %>

            <%= f.text_field :license_plate_number, :class => license_plate_number_class, :placeholder => "Enter license plate number" %>

            <% if license_plate_number_was_invalid %>
              <% resource.errors.full_messages_for(:license_plate_number).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for license_plate_number end -->

          <!-- Devise Input for vehicle_id start -->
          <div class="form-group">
            <% vehicle_id_was_invalid = resource.errors.include?(:vehicle_id) %>

            <% vehicle_id_class = "form-control" %>

            <% if was_validated %>
              <% if vehicle_id_was_invalid %>
                <% vehicle_id_class << " is-invalid" %>
              <% else %>
                <% vehicle_id_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :vehicle_id %>

            <%= f.number_field :vehicle_id, :class => vehicle_id_class, :placeholder => "Enter vehicle id" %>

            <% if vehicle_id_was_invalid %>
              <% resource.errors.full_messages_for(:vehicle_id).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for vehicle_id end -->

          <!-- Devise Input for location start -->
          <div class="form-group">
            <% location_was_invalid = resource.errors.include?(:location) %>

            <% location_class = "form-control" %>

            <% if was_validated %>
              <% if location_was_invalid %>
                <% location_class << " is-invalid" %>
              <% else %>
                <% location_class << " is-valid" %>
              <% end %>
            <% end %>

            <%= f.label :location %>

            <%= f.text_field :location, :class => location_class, :placeholder => "Enter location" %>

            <% if location_was_invalid %>
              <% resource.errors.full_messages_for(:location).each do |message| %>
                <div class="invalid-feedback d-flex">
                  <%= message %>
                </div>
              <% end %>
            <% end %>
          </div>
          <!-- Devise Input for location end -->
          <%= f.button class: "btn btn-outline-primary btn-block" %>

          <hr>

          <%= render "users/shared/links" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
